---
title: Hello GitLab
---

<h2>Hello! 👋</h2>

<img src="https://img.freepik.com/premium-photo/3d-emoticon-render-image-cooler-yellow-emoji-with-sunglasses_477250-4.jpg?size=200&ext=jpg" style="float: right; margin: 10px;">

<p>This site belongs to 564d!</p>

<p>I’m exploring new technologies and this is one of them. This is my homepage at the moment. 😀</p>

<h2>Posts</h2>
$partial("templates/post-list.html")$

<p>…or you can find more in the <a href="/archive.html">archives</a>.</p>
